.product-detail-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    
    // Estilo por defecto para pantallas más grandes
    & > * {
      flex: 1 1 calc(33.333% - 20px); // Tres columnas en pantallas grandes
      margin: 10px;
    }
  
    // Media query para dispositivos tablet
    @media (max-width: 768px) {
      & > * {
        flex: 1 1 calc(50% - 20px); // Dos columnas en tabletas
      }
    }
  
    // Media query para dispositivos móviles
    @media (max-width: 480px) {
      & > * {
        flex: 1 1 100%; // Una columna en móviles
        margin: 10px 0; // Margen vertical para mejor separación
      }
    }
  }
  
  
  .product-image {
    flex: 1;
    max-width: 300px;
    margin-right: 20px;
  }
  
  .product-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .product-info {
    flex: 2;
  }
  
  .product-price {
    margin: 20px 0;
    font-size: 1.2em;
  }
  
  .compare-price {
    color: red;
    font-size: 0.9em;
  }
  
  .product-actions {
    margin-top: 20px;
  }
  
  .product-actions .btn {
    margin-right: 10px;
  }
  
  .product-availability .badge {
    font-size: 1em;
  }
  
  .product-badges .badge {
    font-size: 1em;
  }
  